{% extends 'main.html' %}

{% block content %}
<section class="verification">
    <div class="container py-5 mx-auto">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="card" style="border-radius: 1rem;">
                <div class="d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">
                        <span class="h1 fw-bold mb-3 mx-auto">{{status}}</span>
                        <p href="" class="small text-muted m-4">Link expired or cannot validate. Please request a new link below.</p>
                        <div class="form-outline mb-4">
                            <a href={% url 'request-new-link-from-token' encoded_email encoded_token %}><button class="btn btn-dark btn-block w-100">Re-send Link</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}