{% extends 'main.html' %}

{% block content %}
<section class="login">
    <div class="container py-5 mx-auto">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="card user-card" style="border-radius: 1rem;">
                <div class="d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.GET.next }}" />
                            <div class="d-flex align-items-center ml-0 mb-3 pb-1">
                                <span class="h1 fw-bold mb-0">LaptopDB</span>
                            </div>

                            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                            <div class="form-outline mb-4">
                                {{form.username}}
                            </div>

                            <div class="form-outline mb-4">
                                {{form.password}}
                            </div>

                            <div class="form-outline mb-4">
                                <button class="btn btn-dark btn-block w-100" type="submit">Login</button>
                            </div>

                            <a class="small text-muted" href="{% url 'password_reset' %}">Forgot login info?</a>
                            <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="{% url 'register-page' %}"
                                style="color: #393f81;">Register here</a></p>
                            {% comment %} <a href="#!" class="small text-muted">Terms of use.</a>
                            <a href="#!" class="small text-muted">Privacy policy</a> {% endcomment %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}