<html>
    {% load i18n %}{% autoescape off %}
    <p>{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at laptop-db.com.{% endblocktranslate %}</p>

    <p>{% translate "Please go to "%}<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{% translate "this page "%}</a>{% translate "and choose a new password, or copy and paste the link below into your browser." %}</p>
    {% block reset_link %}
    <p>{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
    {% endblock %}
    <p>{% translate 'Your username, in case you’ve forgotten:' %} <strong>{{ user.get_username }}</strong></p>

    <p>{% translate 'If you did not request a password reset please ignore this message or contact us if you would like assistance.'%}</p>

    <p>{% blocktranslate %}The LaptopDB team{% endblocktranslate %}</p>

    {% endautoescape %}
</html>
