{% extends 'main.html' %}

{% block content %}
<section class="login">
    <div class="container py-5 mx-auto">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="card user-card" style="border-radius: 1rem;">
                <div class="d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">
                        <form method="" action="">

                            <div class="d-flex align-items-center ml-0 mb-3 pb-1">
                                <span class="h1 fw-bold mb-0">LaptopDB</span>
                            </div>

                            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">If an account exists with that email, a reset link will be sent. Please allow up to a few minutes for delivery and be sure to check inbox as well as spam folders.</h5>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}