{% extends 'main.html' %}

{% block content %}
<section class="user-notice">
    <div class="container py-5 mx-auto">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="card" style="border-radius: 1rem;">
                <div class="d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">
                        <span class="h1 fw-bold mb-3 mx-auto">User Page</span>
                        <p href="" class="small text-muted m-4">Hi {{request.user.username}}. User pages are currently being developed. Please check back another time.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}