
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap%27');
body {
    font-family: 'PT-Sans', sans-serif;
}

.card, .user-card {
    border: solid;
    border-width: 1px;
    border-color: #9e9e9eb2;
    width: 30% !important;
}

.card, .model-change-card {
    border: solid;
    border-width: 1px;
    border-color: #9e9e9eb2;
    width: 50% !important;
}

.card, .model-change-card {
    border: solid;
    border-width: 1px;
    border-color: #9e9e9eb2;
    width: 100% !important;
}

.item-card {
    width: 100% !important;
}

.item-title {
    margin-right: 1.5rem;
}

@media only screen and (min-width: 0px) {
    .user-card {
        width: 95% !important;
    }
    .model-change-card {
        width: 95% !important;
    }
    .item-title {
        margin-right: 0;
    }
}
@media only screen and (min-width: 700px) {
    .user-card {
        width: 70% !important;
    }
    .model-change-card {
        width: 80% !important;
    }
    .item-title {
        margin-right: 0;
    }
}
@media only screen and (min-width: 900px) {
    .user-card {
        width: 50% !important;
    }
    .model-change-card {
        width: 70% !important;
    }
}
@media only screen and (min-width: 1600px) {
    .user-card {
        width: 35% !important;
    }
    .model-change-card {
        width: 60% !important;
    }
    
}

.nav-search {
    min-width: 50%;
}

.upvoted {
    color:rgb(76, 185, 55);
}

.downvoted {
    color:rgb(255, 128, 128);
}

/* add a red border and red glow */
.file-okay {
    border: 1px solid #ff0000b2;
    box-shadow: 0 0 0 1px #ff0000b2;
}

.verified {
    color:rgb(128, 200, 255);
    vertical-align: top;
}

.unverified {
    color:rgb(255, 128, 128);
    vertical-align: top;
}

.options-btn {
    padding: 0;
    line-height: 1;
}

.icon {
    vertical-align: middle;
    line-height: 1;
}

.card-body-ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
    
.card-body-ul > li {
    padding-left: 1em;
    text-indent: -1em;
    content: "";
}
    
.card-body-ul > li:before {
    content: "";
    padding-right: 5px;
}

.card-submission-details > span{
    float: left;
    clear: left;
    text-align:center;
}

.navbar {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.footer {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.footer > .container {
    display: flex;
}

.home, 
.search, 
.add-data, 
.add-parts, 
.product, 
.user-profile, 
.login, 
.register, 
.user-notice,
.verification,
.suggest-model {
    background-color: rgb(255, 255, 255);
    min-height: 89.4vh;
    display: flex;
    flex-direction: column;
    padding-top: 12vh;
    padding-bottom: 5vh;
}

.naughty, .user-notice, .verification {
    text-align: center;
}

.login, .register, .user-notice, .verification {
    background-color:rgb(167, 212, 255);
}

.suggest-model {
    background-color: rgb(245, 199, 156);
}

.product .container {
    gap: 5%;
}

.product .container-flex-row {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    
}

.container-flex-row-line {
    border: 1px solid rgb(172, 172, 172);
}

.container .container-flex-col {
    flex-direction: column;
    
}

.nav-link {
    padding: 0;
}

.container .title-item {
    text-align: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.item-img {
    max-width: 80%;
}

.flag2x {
    margin-left: 0.25rem;
}



.image-item > .page-image{
    max-width: 80%;
    max-height: 80%;
    object-fit: scale-down;
    justify-content: center;
    border-radius: 5px;
}

.image-item > .card-img-top {
    max-height: 20vh;
    min-height: 15vh;
    object-fit: scale-down;
    margin: auto;
    border-radius: 5px;
}

.input-group-text, .input-group-file::file-selector-button {
    background-color: #9e9e9e;
    border-color: #9e9e9e;
}

.form-span, .input-field, .input-group-file {
    border-color: #9e9e9e;
}

.tooltip-img {
    border-radius: 5px;
    margin-top: 0.5rem;
    width: 9vw;
}

.search-item-result {
    background-color: #ccc;
    border-radius: 5px;
}

.product ul {
    padding-left: 0;
}

.grey-text {
    color: #9e9e9e !important; }

.dark-grey-text {
    color: #4f4f4f !important; }

.btn-outline-grey, .approve, .reject {
    color: black;
    border-color: #9e9e9e;
}
.btn-outline-grey:hover {
    color: black;
    background-color: #9e9e9e;
    border-color: #9e9e9e;
}

.approve:hover {
    background-color: rgb(76, 185, 55);
}

.reject:hover {
    background-color:rgb(255, 128, 128);
}

.btn-check:focus + .btn-outline-grey, .btn-outline-grey:focus {
    box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
}
.btn-check:checked + .btn-outline-grey, .btn-check:active + .btn-outline-grey, .btn-outline-grey:active, .btn-outline-grey.active, .btn-outline-grey.dropdown-toggle.show {
    color: black;
    background-color: #9e9e9e;
    border-color: #9e9e9e;
}

.btn-check:checked + .approve, .btn-check:active + .approve, .approve:active, .approve.active, .approve.dropdown-toggle.show {
    background-color: rgb(76, 185, 55);
    border-color: rgb(76, 185, 55);
}

.btn-check:checked + .reject, .btn-check:active + .reject, .reject:active, .reject.active, .reject.dropdown-toggle.show {
    background-color: rgb(255, 128, 128);
    border-color: rgb(255, 128, 128);
}

.btn-check:checked + .btn-outline-grey:focus, .btn-check:active + .btn-outline-grey:focus, .btn-outline-grey:active:focus, .btn-outline-grey.active:focus, .btn-outline-grey.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
}

.btn-outline-grey:disabled, .btn-outline-grey.disabled {
    color: #9e9e9e;
    background-color: transparent;
}

.approve:disabled, .approve.disabled {
    color: #9e9e9e;
    background-color: transparent;
}

.reject:disabled, .reject.disabled {
    color: #9e9e9e;
    background-color: transparent;
}

.navbar-toggler:focus {
    box-shadow: none;
}