<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="" type="image/x-icon" />
    
    <title>Laptops Parts Database</title>

    <link href="{% static 'styles/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'styles/style.css' %}" rel="stylesheet" />
    <link href="{% static 'styles/sprite.css' %}" rel="stylesheet" />
    <link href="{% static 'styles/fontawesome.min.css' %}" rel="stylesheet" />

    {% include 'includes/header.html' %}

  </head>

 

  <body>
    
    {% include "includes/messages.html" %}

    {% block content %}
    {% endblock %}

    {% include 'includes/footer.html' %}

    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="https://use.fontawesome.com/ebbbc95dce.js"></script>

    <script>
      $(document).ready(function() {
        // show the alert
        $(".alert").delay(4500).slideUp(500, function() {
            $(this).alert('close');
        });
      });
    </script>
    <script>
    $(function() {
      //call feather icon    
      $('[data-bs-toggle="tooltip"]').tooltip();
    })
  </script>
  </body>
</html>