{% extends 'main.html' %}

{% block content %}

{% load countries %}
{% get_countries as countries %}



<div class='add-data container'>
    <div class='mx-auto'>
            <form class="form" name="parts-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}                
                <div class="input-group mb-2">
                    <span class="input-group-text form-span" id="id_manufacturer">Manufacturer</span>
                    {{ form.manufacturer }}
                    {% comment %} <input type="text" class="form-control" name="manufacturer" id="id_manufacturer" placeholder="Dell, Lenovo, HP, etc..." Required> {% endcomment %}
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text form-span" id="id_series">Series</span>
                    {{ form.series }}
                   
                    {% comment %} <input type="text" class="form-control" name="series" id="id_series" placeholder="XPS, Thinkpad, Envy, etc..." Required> {% endcomment %}
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text form-span" id="id_laptop_model">Model Number</span>
                    {{ form.laptop_model }}
                   
                    {% comment %} <input type="text" class="form-control" name="laptop_model" id="id_laptop_model" placeholder="Required" Required> {% endcomment %}
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text form-span" id="id_serial_number">Serial Number</span>
                    {{ form.serial_number }}

                    {% comment %} <input type="text" class="form-control" name="serial_number" id="id_serial_number" placeholder="Optional"> {% endcomment %}
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text form-span" id="id_country_id">Country</span>
                    <select class="form-select input-field" id="id_country_id" aria-label="Country select" data-live-search="true" placeholder="Test">
                        <option selected>Select Country -- Optional</option>
                        {% for country in countries %}
                            <option value="{{ country.code }}">{{ country.name }}</option>
                        {% endfor %}
                      </select>
                </div>

                <div class="input-group mb-0">
                    <label class="input-group-text" for="image-input">Image</label>
                    <input id="image-input" type="file" onchange="validateSize(this)" class="form-control input-group-file mx-0 px-0" name="laptop-image" id="id_laptop-image">
                </div>
                <div class="small text-muted mt-0 mb-2">
                    <span>Image must be of type .png, .jpg, .jpeg, or .gif and less than 2.5MiB</span>
                </div>
                <div class="form-outline mt-3">
                    <button class="btn btn-dark btn-block w-100" type="submit" id="submit-button">Submit</button>
                </div>
            </form>
    </div>
</div>

{% endblock %}