{% load auth_extras %}
{% load vote_extras %}

<div class="card item-card">
    <div class="view overlay m-3">
        <div class="container-flex-row">
        {% if item_type == "part" %}
            <i class="{{ item|part_verified }}" aria-hidden="true"></i>
            {% if 'KEYB' in item.part_type %}
                <a class="dark-grey-text mx-1" href="{% url 'item-page' item.model %}">{{item.model}}</a><img class="flag2x mx-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="{{item.country_id.name}}" src="{{item.country_id.flag}}"/>
            {% else %}
                <a class="dark-grey-text mx-1" href="{% url 'item-page' item.model %}">{{item.model}}</a>
            {% endif %}
            
            {% csrf_token %}                                         
            <i id="part-upvote-{{item.id}}" class="fa fa-arrow-up part-upvote-click {{ item|part_upvoted:request.user }}" data-answer="{{item.id}}"></i>
            <span class="part-score-count-{{item.id}}">{{item.score}}</span>
            <i id="part-downvote-{{item.id}}" class="fa fa-arrow-down part-downvote-click {{ item|part_downvoted:request.user }}" data-answer="{{item.id}}"></i>
            <a class="grey-text mx-2" href="https://www.ebay.com/sch/i.html?_nkw={{item.model}}" target="_blank"><i class="fa a-duotone fa-tags"></i></a>
        {% else %}
            <i class="{{ item|laptop_verified }}" aria-hidden="true"></i>    
            <a class="dark-grey-text mx-1" href="{% url 'laptop-page' item.laptop_model %}">{{item.manufacturer}}&nbsp{{item.series}}&nbsp({{item.laptop_model}})</a>
            <i id="laptop-upvote-{{item.id}}" class="fa fa-arrow-up laptop-upvote-click {{ item|laptop_upvoted:request.user }}" data-answer="{{item.id}}"></i>
            <span class="laptop-score-count-{{item.id}}">{{item.score}}</span>
            <i id="laptop-downvote-{{item.id}}" class="fa fa-arrow-down laptop-downvote-click {{ item|laptop_downvoted:request.user }}" data-answer="{{item.id}}"></i>
            <a class="grey-text mx-2" href="https://www.ebay.com/sch/i.html?_nkw={{item.laptop_model}}" target="_blank"><i class="fa a-duotone fa-tags"></i></a>
        {% endif %}
        </div>
        {% if item_type == "part" %}
        <a class="image-item" href="{% url 'item-page' item %}">
        {% else %}
        <a class="image-item" href="{% url 'laptop-page' item %}">
        {% endif %}
            <img src="{{ item.image.url }}" class="card-img-top mt-3" />
        </a>
    </div>

    <div class="card-body">
        <h5>
            {% if item.laptop_model.all.count > 1 %}
                <div class="mb-2">
                    <span class="dark-grey-text"> Used in laptops: </span>
                </div>
            {% elif item.laptop_model.all.count == 1 %}
                <div class="mb-2">
                    <span class="dark-grey-text"> Used in laptop: </span>
                </div>
            {% endif %}
        <strong>
            <ul class="card-body-ul small mb-5">
            {% for laptop in item.laptop_model.all %}

                <div class="container-flex-col">
                    <i class="{{ laptop|laptop_verified }}" aria-hidden="true"></i>    
                    <a class="text-decoration-none dark-grey-text mx-1" href="{% url 'laptop-page' laptop.laptop_model %}">{{laptop.laptop_model}}</a>
                    <i id="laptop-upvote-{{laptop.id}}" class="fa fa-arrow-up laptop-upvote-click {{ laptop|laptop_upvoted:request.user }}" data-answer="{{laptop.id}}"></i>
                    <span class="laptop-score-count-{{laptop.id}}">{{laptop.score}}</span>
                    <i id="laptop-downvote-{{laptop.id}}" class="fa fa-arrow-down laptop-downvote-click {{ laptop|laptop_downvoted:request.user }}" data-answer="{{laptop.id}}"></i>
                    <a class="grey-text mx-2" href="https://www.ebay.com/sch/i.html?_nkw={{laptop.laptop_model}}" target="_blank"><i class="fa a-duotone fa-tags"></i></a>
                </div>

            {% endfor %}
            </ul>
        </strong>
        </h5>

        <span class="mx-auto my-0 grey-text card-submission-details">Added {{item.created|timesince}} ago</span>
        <span class="mx-auto my-0 grey-text card-submission-details">Submitted by @{{item.created_by}}</span>

    </div>
</div>