{% extends 'main.html' %}
{% load auth_extras %}
{% load vote_extras %}
{% block content %}
    <main>
        <div class='product'>
            <div class="container">
                <div class="container-flex-row">
                    <div class="container-flex-row">
                        <div class="container-flex-col mx-auto ml-1">   
                            <div class="container-flex-row title-item dark-grey-text h5">
                                <div class="container-flex-col mx-1">
                                    {% csrf_token %}
                                    <i id="laptop-upvote-{{laptop.id}}" class="fa fa-arrow-up laptop-upvote-click{{ laptop|laptop_upvoted:request.user }}" data-answer="{{laptop.id}}"></i>
                                    <span class="laptop-score-count-{{laptop.id}}">{{laptop.score}}</span>
                                    <i id="laptop-downvote-{{laptop.id}}" class="me-1 fa fa-arrow-down laptop-downvote-click{{ laptop|laptop_downvoted:request.user }}" data-answer="{{laptop.id}}"></i>
                                </div>
                                <div class="container-flex-col mx-1">
                                    <strong>{{laptop.manufacturer}}&nbsp{{laptop.series}}&nbsp({{laptop.laptop_model}})</strong>
                                </div>
                                <div class="container-flex-col mx-1">
                                    <i class="{{ laptop|verified }}" aria-hidden="true"></i>
                                </div>
                                <div class="container-flex-col mx-3">
                                    <button class="btn options-btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fal fa-ellipsis-v grey-text"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        {% if request.user|has_group:"admin" %}
                                        <li><a class="dropdown-item" href="{% url 'edit-laptop' laptop.laptop_model %}">Edit All Components</a></li>
                                        {% else %}
                                        <li><a class="dropdown-item" href="{% url 'edit-laptop' laptop.laptop_model %}">Add Components</a></li>
                                        {% endif %}
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="" disabled>Suggest New Model Number</a></li>
                                    </ul>
                                </div> 
                            </div>
                            <div class="image-item mb-5">
                                <img src="{{ laptop.image.url }}" class="card-img-top"/>
                            </div>
                        </div>
                    </div>
                    <div class="container-flex-row-line">
                    </div>
                    <div class="container-flex-row">
                        <div class="container-flex-col mx-auto ml-1">
                            {% for part_list, title in parts %}
                            <div class="container-flex-row">    
                                <div class="container-flex-col dark-grey-text">
                                    <h5>{{title}}:</h5>
                                </div>
                                <div class="container-flex-col">
                                    {% for part in part_list %}
                                        {% for item in part %}
                                        <div class="container-flex-row dark-grey-text">
                                            {% if "Keyboard" in title %}
                                                <ul><a class="dark-grey-text" href="{% url 'item-page' item.model %}">{{item.model}}</a><img class="flag2x" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="{{item.country_id.name}}" src="{{item.country_id.flag}}"/></ul>
                                            {% else %}
                                                <ul><a class="dark-grey-text" href="{% url 'item-page' item.model %}">{{item.model}}</a></ul>
                                            {% endif %}
                                            {% comment %} <div class="upvote container-flex-col mx-1"> {% endcomment %}
                                                {% csrf_token %}                                                
                                                <div class="container-flex-col mx-1">
                                                    <i id="part-upvote-{{item.id}}" class="fa fa-arrow-up part-upvote-click {{ item|part_upvoted:request.user }}" data-answer="{{item.id}}"></i>
                                                </div>
                                                <div class="container-flex-col">
                                                    <span class="part-score-count-{{item.id}}">{{item.score}}</span>
                                                </div>
                                                <div class="container-flex-col mx-1">
                                                    <i id="part-downvote-{{item.id}}" class="fa fa-arrow-down part-downvote-click {{ item|part_downvoted:request.user }}" data-answer="{{item.id}}"></i>
                                                </div>
                                            {% comment %} </div> {% endcomment %}
                                            
                                        </div>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}