{% extends 'main.html' %}
{% load auth_extras %}
{% load vote_extras %}
{% block content %}
    <main>
        <div class='product'>
            <div class="container">
                <div class="container-flex-row">
                    <div class="container-flex-row">
                        <div class="container-flex-col mx-auto ml-1">   
                            <div class="container-flex-row title-item dark-grey-text h5">
                                <div class="container-flex-col mx-1">
                                    {% csrf_token %}
                                    <i id="laptop-upvote-{{laptop.id}}" class="fa fa-arrow-up laptop-upvote-click {{ laptop|laptop_upvoted:request.user }}" data-answer="{{laptop.id}}"></i>
                                    <span class="laptop-score-count-{{laptop.id}}">{{laptop.score}}</span>
                                    <i id="laptop-downvote-{{laptop.id}}" class="me-1 fa fa-arrow-down laptop-downvote-click {{ laptop|laptop_downvoted:request.user }}" data-answer="{{laptop.id}}"></i>
                                </div>
                                <div class="container-flex-col mx-1">
                                    <strong>{{laptop.manufacturer}}&nbsp{{laptop.series}}&nbsp({{laptop.laptop_model}})</strong>
                                </div>
                                <div class="container-flex-col mx-1">
                                    <i class="{{ laptop|laptop_verified }}" aria-hidden="true"></i>
                                </div>
                                <div class="container-flex-col mx-3">
                                    <button class="btn options-btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fal fa-ellipsis-v grey-text"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        {% if request.user|has_group:"admin" %}
                                        <li><a class="dropdown-item" href="{% url 'edit-laptop' laptop.laptop_model %}">Edit All Components</a></li>
                                        {% else %}
                                        <li><a class="dropdown-item" href="{% url 'edit-laptop' laptop.laptop_model %}">Add Components</a></li>
                                        {% endif %}
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{% url 'laptop-model-change' laptop.laptop_model %}">Suggest New Model Number</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        {% if request.user|has_group:"admin" %}
                                        {% if laptop.verified %}
                                        <li><a class="dropdown-item" href="{% url 'verify-laptop' laptop.id %}"><span class="fa fa-solid fa-circle-xmark icon unverified"></span>&nbsp Verification Options</a></li>
                                        {% else %}
                                        <li><a class="dropdown-item" href="{% url 'verify-laptop' laptop.id %}"><span class="fa fa-solid fa-circle-check icon verified"></span>&nbsp Verification Options</a></li>
                                        {% endif %}
                                        <li><a class="dropdown-item" href="{% url 'confirm-delete-laptop' laptop.id %}"><span class="fa fa-trash"></span>&nbsp Delete Laptop</a></li>
                                        {% endif %}
                                    </ul>
                                </div> 
                            </div>
                            <div class="container-flex-row image-item mb-5">
                                <img src="{{ laptop.image.url }}" class="page-image mx-auto"/>
                            </div>
                        </div>
                    </div>
                    <div class="container-flex-row-line">
                    </div>
                    <div class="container-flex-row">
                        <div class="container-flex-col mx-auto ml-1">
                            {% for part_list, title in parts %}
                            <div class="container-flex-row mb-2">    
                                <div class="container-flex-col dark-grey-text me-4">
                                    <h5>{{title}}:</h5>
                                </div>
                                <div class="container-flex-col">
                                    {% for part in part_list %}
                                        {% for item in part %}
                                        <div class="container-flex-row dark-grey-text">
                                            
                                            {% csrf_token %}                                                
                                            <div class="container-flex-col mx-1">
                                                <i id="part-upvote-{{item.id}}" class="fa fa-arrow-up part-upvote-click {{ item|part_upvoted:request.user }}" data-answer="{{item.id}}"></i>
                                            </div>
                                            <div class="container-flex-col">
                                                <span class="part-score-count-{{item.id}}">{{item.score}}</span>
                                            </div>
                                            <div class="container-flex-col mx-1">
                                                <i id="part-downvote-{{item.id}}" class="fa fa-arrow-down part-downvote-click {{ item|part_downvoted:request.user }}" data-answer="{{item.id}}"></i>
                                            </div>

                                            <ul>
                                            {% if "Keyboard" in title %}
                                                <a class="dark-grey-text mx-1" href="{% url 'item-page' item.model %}">{{item.model}}</a><img class="flag2x mx-1" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="{{item.country_id.name}}" src="{{item.country_id.flag}}"/>
                                            {% else %}
                                                <a class="dark-grey-text mx-1" href="{% url 'item-page' item.model %}">{{item.model}}</a>
                                            {% endif %}

                                            </ul>
                                            
                                            
                                            <a class="grey-text mx-2" href="https://www.ebay.com/sch/i.html?_nkw={{item.model}}" target="_blank"><i class="fa a-duotone fa-tags"></i></a>

                                        </div>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}